# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore compiled binaries or executables
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json for npm
pnpm-lock.yaml
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore .env.local file for local environment variables
.env.local

# Ignore .env.development file for development environment variables
.env.development

# Ignore .env.production file for production environment variables
.env.production
